<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/app.css">
    <link rel="icon" href="favicon.ico">
</head>
<body ng-controller="ctr1" class="bg-gray">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <span class="s1">我的简历</span>
                <span class="s2 glyphicon glyphicon-arrow-left" ng-click="back()"></span>
            </a>
            <h3 class="title navbar-text">{{title}}</h3>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse" ng-click="In=!In">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" ng-class="{'in':In}">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':x[0]}" ng-repeat="x in list">
                    <a href="" ng-click="jump(x[1],$index)">{{x[2]}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container page" ng-view>
</div>
</body>
<script src="src/js/bundle.js"></script>
<script>
    var app = angular.module('app', ['ngRoute', 'ngAnimate']);
    app.controller('ctr1', ['$scope', '$location', function ($scope, $location) {
        $scope.list = [[true, '/home', '首页'], [false, '/skill', '技能'], [false, '/experience', '经历'], [false, '/works', '项目'], [false, 'about', '关于我']];//导航ngclass相关数据
        $scope.In = false;
        $scope.title = '首页';
        $scope.skill = {
            in: ['html', 'js', 'css3', 'php'],
            out: ['angular', 'less', 'webpack', 'bootstrap', 'mui', 'jq', 'react', 'vue']
        }
        //页面跳转方法
        $scope.jump = function (url, index) {
            $location.path(url);
            if (angular.isNumber(index)) {
                $scope.title = $scope.list[index][2];
                $scope.show(index);
                $scope.In = false;
            }
        }
        $scope.back=function(){
            history.back();
        }
        //改变导航标签class
        $scope.show = function (index) {

            for (var i = 0; i < $scope.list.length; i++) {
                $scope.list[i][0] = false;
            }
            $scope.list[index][0] = true;
        }
        $scope.jump('/home');
    }])
        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/home', {
                    templateUrl: 'tpl/home.html'
                })
                .when('/about', {
                    templateUrl: 'tpl/about.html'
                })
                .when('/experience', {
                    templateUrl: 'tpl/experience.html'
                })
                .when('/works', {
                    templateUrl: 'tpl/works.html'
                })
                .when('/skill', {
                    templateUrl: 'tpl/skill.html'
                })
                .otherwise({
                    redirectTo: '/home'
                });
        }])

</script>
</html>