<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="src/css/bootstrap.min.css">
    <link rel="stylesheet" href="src/css/app.css">
</head>
<body ng-controller="ctr1" class="bg-gray">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">我的简历</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse" ng-click="In=!In">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" ng-class="{'in':In}">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':list[0]}"><a href="" ng-click="jump('/home',0)">首页</a></li>
                <li ng-class="{'active':list[1]}"><a href="" ng-click="jump('/skill',1)">技能</a></li>
                <li ng-class="{'active':list[2]}"><a href="" ng-click="jump('/experience',2)">经历</a></li>
                <li ng-class="{'active':list[3]}"><a href="" ng-click="jump('/works',3)">项目</a></li>
                <li ng-class="{'active':list[4]}"><a href="" ng-click="jump('/about',4)">关于我</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container page" ng-view>
</div>
</body>
<script src="src/js/bundle.js"></script>
<script>
    var app = angular.module('app', ['ngRoute', 'ngAnimate']);
    app.controller('ctr1', ['$scope', '$location', function ($scope, $location) {
        $scope.list = [true, false, false, false];//导航ngclass相关数据
        $scope.In = false;
        $scope.skill = {
            in: ['html', 'js', 'css3', 'php'],
            out: ['angular', 'less', 'webpack', 'bootstrap', 'mui', 'jq', 'react', 'vue']
        }
        //页面跳转方法
        $scope.jump = function (url, index) {
            $location.path(url);
            if (index >= 0) {
                $scope.show(index);
                $scope.In = false;
            }
        }
        //改变导航标签class
        $scope.show = function (index) {
            for (var i = 0; i < $scope.list.length; i++) {
                $scope.list[i] = false;
            }
            $scope.list[index] = true;
        }
        $scope.jump('/home');
    }])
        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/home', {
                    templateUrl: 'tpl/home.html'
                })
                .when('/about', {
                    templateUrl: 'tpl/about.html'
                })
                .when('/experience', {
                    templateUrl: 'tpl/experience.html'
                })
                .when('/works', {
                    templateUrl: 'tpl/works.html'
                })
                .when('/skill', {
                    templateUrl: 'tpl/skill.html'
                })
                .otherwise({
                    redirectTo: '/home'
                });
        }])

</script>
</html>