<div class="row ">
    <div class="col-xs-12 col-sm-6">
        <div class="auto">
            <div class="border">
                <span class="elem text-center" ng-repeat="x in skill.in">{{x}}</span>
            </div>
            <div class="border1">
                <span class="elem1 text-center" ng-repeat="x in skill.out">{{x}}</span>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 text-center">
        <div class="margin-top1">
            <p>熟练使用angularJs1.x及各种类库</p>
            <p>常驻PC/APP双平台前端研发</p>
            <p>能脱离库书写JS代码</p>
            <p>编码常思其健壮性，扩展性，维护性</p>
        </div>

    </div>
</div>